.nav-top{
    width:100%;
    height:60px;
    background:#000;
    box-shadow:-4px 4px 4px #aaa;
}
.logo-img{
    float:left;
}
.logo-title{
    float:left;
    color:#fff;
    font-size:47px;
    line-height: 60px;
}
